{% extends 'base.html' %}

    
    {% block header %}
    <div>
      <h1 class="overview__heading">Welcome to your page, {{current_user.username}}</h1>
      
    </div>
    {% endblock header %}
      
    
    {% block content %}
    <div class="description">
      <div class="edit__form">
        <img src="{{url_for('static',filename='profile_pics/'+current_user.profile_image)}}" alt="">
        <form  method="POST" action = "" enctype="multipart/form-data" class="form">
          {{ form.hidden_tag() }}
          <div class="form__group">
            {{ form.username.label(class="form__label") }}
            {{form.username(class='form__input')  }}
          </div
          <div class="form__group">
            {{ form.email.label(class="form__label") }}
            {{form.email(class='form__input')  }}
          </div>
          <div class="form__group">
            {{ form.picture.label(class="form__label") }}
            {{ form.picture(class="form__input") }}
          </div>
          <div class="form__group">
              {{ form.submit(class="btn-inline") }}
          </div>
        </form>
      </div>
    </div>
{% endblock content %}
    