<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <ul class="nav">
        <li class="nav-link">
            <a href="{{url_for('core.index')}}" class="href">HOME</a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('core.info')}}" class="href">ABOUT</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-link">
            <a href="{{url_for('users.account')}}" class="href">ACCOUNT</a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('postings.create_post')}}" class="href">CREATE POST</a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('users.logout')}}" class="href">LOGOUT</a>
        </li>
        {% else %}
        <li class="nav-link">
            <a href="{{url_for('users.register')}}" class="href">REGISTER</a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('users.login')}}" class="href">LOGIN</a>
        </li>
        {% endif %}
    </ul>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>