{% extends 'base.html' %}

{% block header %}
    <div>
        <h1 class="overview__heading">Welcome back! Please login below</h1>
    </div>
{% endblock header %}
    

{% block content %}
<div class="description">
    <form action="" method="POST" class="form">
        {{form.hidden_tag()}}
        {{form.email.label(class="form__label")}}{{form.email(class='form__input')}}<br>
        {{form.password.label(class="form__label")}}{{form.password(class='form__input')}}<br>
        {{form.submit(class="btn-inline")}}

    </form>
</div>
    
{% endblock content %}