{% extends 'base.html' %}

{% block header %}
    <div>
        <h1 class="overview__heading">Registration</h1>
    </div>
{% endblock header %}
    

{% block content %}
<div class="description">
    <div class="edit__form">
        <form action="" method="POST" class="form">
            {{form.hidden_tag()}}
            {{form.email.label(class="form__label")}}{{form.email(class='form__input')}}<br>
            {{form.username.label(class="form__label")}}{{form.username(class='form__input')}}<br>
            {{form.password.label(class="form__label")}}{{form.password(class='form__input')}}<br>
            {{form.pass_confirm.label(class="form__label")}}{{form.pass_confirm(class='form__input')}}<br>
            {{form.submit(class="btn-inline")}}

        </form>
    </div>
</div>
{% endblock content %}
    