{% extends 'base.html' %}


{% block header %}
        
<div class="">

        
        <h1 class="overview__heading"><img src="{{url_for('static',filename='profile_pics/'+user.profile_image)}}"  style="display:unset" class="user-nav user-nav__user-photo">Welcome to {{user.username}}'s page</h1>

    

        

</div>
{% endblock header %}

    

{% block content %}   
<div>
   <div class=""style="margin-top: 20rem;">
    <p></p>
   </div>
    
    {% for post in postings.items %}
    <div class="user-posts" >

        <figure class="post">
  
          <blockquote class="post__text">
            <h2><a class="card-title" href="{{url_for('postings.posting',posting_id=post.id)}}">{{post.title}}</a></h2>
            <p class="post__user-date">Published on: {{post.date.strftime("%Y-%m-%d")}}</p>
          </blockquote>    
          <figcaption class="post__user">
            <a href="{{ url_for('postings.posting',posting_id=post.id) }}" class="btn btn-inline">Read Post</a>
            
          </figcaption>
          <div>
            <p class="card-text">{{ post.text[:100] }}...</p>
        </div>
        </figure>
    </div>
        

    {% endfor %}   
<nav>
    <ul>
        {% for page_num in postings.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
            {% if postings.page == page_num %}
            <li class="page-item disabled">
                <a href="{{url_for('users.user_postings',username=user.username,page=page_num)}}">{{page_num}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a href="{{url_for('users.user_postings',username=user.username,page=page_num)}}">{{page_num}}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>  
</div>
         
{% endblock content %}
    